.grid_10
  .login
    %p
      %span
        Welcome on Emailvision customer Portal. Find here all informations you need to use Campaign Commander, find solutions, share your ideas (bond_john@grandhotels.com / Emailvision22) :
    = form_tag('/sessions/signin', :name => 'auth')
    %label Login
    %input{:name => 'auth[login]'}
    %label Password
    %input{:type => 'password', :name => 'auth[password]'}
    %input{:type => 'submit'}
.clear
