.grid_12
  .login
    %p
      %span
        = Post.find(1).content
    = form_tag('/sessions/signin', :name => 'auth')
    %label Login
    %input{:name => 'auth[login]'}
    %label Password
    %input{:type => 'password', :name => 'auth[password]'}
    %input{:type => 'submit'}
.clear
