.grid_10
  .login
    %p
      %span
        Welcome on Luniski Solution Center. Find here all informations you need, find solutions, ask questions about your next trip (vincent@tquila.com / tquila12) :
    = form_tag('/sessions/signin', :name => 'auth')
    %label login
    %input{:name => 'auth[login]'}
    %label password
    %input{:type => 'password', :name => 'auth[password]'}
    %input{:type => 'submit'}
.clear
