.grid_8
  .grid_8.alpha.omega
    .full_posts
      .form
        = form_tag('/cases', :method => :post)
        .field
          %label Subject 
          %input{:name => 'case[Subject]', :value => ''}
        .field
          %label Description 
          %textarea{:name => 'case[Description]'}
            = ''
        .field
          %input{:type => 'submit'}

  .clear
- content_for :sidebar do
  .grid_4
    = render 'shared/sidebar'
  / grid_4
  .clear


