/ MY CASES BLOCK
#home_block.clearfix
  %h2
    My Cases
  .box_content
    %ul
      - @cases.each do |c|
        %li
          %a{:href => case_path(c['Id'])}= c['Subject']

  %a.btn-w{:href => "#"} → All my cases
/ /MY CASES BLOCK

