/ MY CASES BLOCK
#home_block.clearfix
  %h2
    My Cases
  / <div rel="#overlay"  style="cursor:pointer">lien onclik</div>
  #5558.node.node.node-teaser.clearfix.node-type-resource
    .node-inner
      .content.clearfix
        .video_thumb.clearfix
          %a.overlay{:href => "http://www.emailvision.fr/resource-centre/thought/emailvision", :rel => "#overlay", :style => "text-decoration:none;"}
            %img.imagecache.imagecache-logo-hp-videoblock{:alt => "", :height => "140", :src => "http://www.emailvision.fr/sites/default/files/imagecache/logo-hp-videoblock/nick-heys-home-page-video.jpg", :title => "Solutions Email &amp; Social Marketing", :width => "247"}/
        .video_teaser
          %p
            Nick Heys, Fondateur et PDG présente Emailvision
            %br/
            Le leader international...
  %a.btn-w{:href => "/decouvrez-emailvision/notre-histoire"} → En savoir plus sur Emailvision
/ /MY CASES BLOCK

