/ IDEAS BLOCK
#home_block.clearfix
  %h2
    Ideas
  .box_content
    %ul
      - @ideas.each do |i|
        %li
          %a{:href => idea_path(i['Id'])}= i['Title']

  %a.btn-w{:href => "#"} → All ideas
/ /IDEAS BLOCK

