/ FEEDS BLOCK
#home_block.clearfix
  %h2
    Feeds
  .box_content
    #tabs-1.tab
      = parse_feed("http://blog.emailvision.com/taxonomy/term/183/0/feed")
    #tabs-2.tab
      = parse_feed("http://blog.emailvision.com/taxonomy/term/25/0/feed")
    #tabs-3.tab
      = parse_feed("http://blog.emailvision.com/taxonomy/term/20/0/feed")
    #tabs-4.tab
      = parse_feed("http://blog.emailvision.com/taxonomy/term/181/0/feed")
  %a.btn-w{:href => "#"} → All feeds
/ /FEEDS BLOCK

