.block-hp-bas.clearfix
  / VIDEO BLOCK
  #video_block.clearfix
    %h2
      Emailvision
    / <div rel="#overlay"  style="cursor:pointer">lien onclik</div>
    #5558.node.node.node-teaser.clearfix.node-type-resource
      .node-inner
        .content.clearfix
          .video_thumb.clearfix
            %a.overlay{:href => "http://www.emailvision.fr/resource-centre/thought/emailvision", :rel => "#overlay", :style => "text-decoration:none;"}
              %img.imagecache.imagecache-logo-hp-videoblock{:alt => "", :height => "140", :src => "http://www.emailvision.fr/sites/default/files/imagecache/logo-hp-videoblock/nick-heys-home-page-video.jpg", :title => "Solutions Email &amp; Social Marketing", :width => "247"}/
          .video_teaser
            %p
              Nick Heys, Fondateur et PDG présente Emailvision
              %br/
              Le leader international...
    %a.btn-w{:href => "/decouvrez-emailvision/notre-histoire"} → En savoir plus sur Emailvision
  / /VIDEO BLOCK
  / CUSTOMERS BLOCK
  #customer_block
    %h2 Clients
    .view.view-customers-logos.view-id-customers_logos.view-display-id-block_1.view-dom-id-1
      /
      / wrapper for navigator elements
      / <div class="navi"></div>
      .slidetabscustomers
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
        %a{:href => "#"}
      / "previous page" action
      /
        <a class="backward browse left"></a>
      / root element for scrollable
      #slider-hp-customers.scrollable
        / root element for the items
        .items
          .slide-1.fitems
            .item-1
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/images.jpg", :title => "", :width => "120"}/
            .item-2
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-be-ikea.png", :title => "", :width => "120"}/
            .item-3
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-be-mercedes-benz.jpg", :title => "", :width => "120"}/
            .item-4
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-be-staples.png", :title => "", :width => "120"}/
          .slide-2.fitems
            .item-1
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "Total", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/total.png", :title => "Total", :width => "120"}/
            .item-2
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/logo-cn-decathlon_0.jpg", :title => "", :width => "120"}/
            .item-3
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-es-groupalia.jpg", :title => "", :width => "120"}/
            .item-4
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/logo-fr-voyageprive.jpg", :title => "", :width => "120"}/
          .slide-3.fitems
            .item-1
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-fr-bnp.jpg", :title => "", :width => "120"}/
            .item-2
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/logo-fr-hermes.jpg", :title => "", :width => "120"}/
            .item-3
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/logo-fr-kooples.jpg", :title => "", :width => "120"}/
            .item-4
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-fr-loreal_0.jpg", :title => "", :width => "120"}/
          .slide-4.fitems
            .item-1
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "Rossignol", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/logo-rossignolbaseline-red.jpg", :title => "Rossignol", :width => "120"}/
            .item-2
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-uk-sharp.png", :title => "", :width => "120"}/
            .item-3
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-uk-whsmith.png", :title => "", :width => "120"}/
            .item-4
              .views-field-field-logo-image-fid
                %img.imagecache.imagecache-Logo_resize_home.imagecache-default.imagecache-Logo_resize_home_default{:alt => "", :height => "70", :src => "http://www.emailvision.fr/sites/default/files/imagecache/Logo_resize_home/r-logo-us-futureelectronics.png", :title => "", :width => "120"}/
      / "next page" action
      / <a class="forward browse right"></a>
      %br{:clear => "all"}/
    .customer_block_btn
      %a.btn-w{:href => "/succes-clients/cas-clients"} → Succès clients
  / /CUSTOMERS BLOCK
  / NEWS & EVENT
  #news_event
    %h2
      Actualités
      %a{:href => "http://feeds.feedburner.com/Email-Marketing-Emailvision-FR", :target => "_blank"}
        %img{:src => "/sites/all/themes/emv/images/pictos/pic-blog.png"}/
    .last_news
      .view.view-events.view-id-events.view-display-id-block_2.view-dom-id-events-block-2-1
        .blockevent.clearfix
          .blockevent-date 18/10/2011 - 
          .blockevent-content
            %a{:href => "http://www.emailvision.fr/node/931?e=7380"} Emailvision vous invite au petit-déjeuner...
        .blockevent.clearfix
          .blockevent-date 06/10/2011 - 
          .blockevent-content
            %a{:href => "http://www.emailvision.fr/node/931?e=7198"} Emailvision sera présent au...
        .blockevent.clearfix
          .blockevent-date 05/10/2011 - 
          .blockevent-content
            %a{:href => "http://www.emailvision.fr/node/931?e=7168"} Emailvision est un sponsor de...
        .blockevent.clearfix
          .blockevent-date 09/06/2011 - 
          .blockevent-content
            %a{:href => "http://www.emailvision.fr/node/931?e=1664"} Emailvision à l'E-Commerce Paris 2011
        .blockevent.clearfix
          .blockevent-date 26/04/2011 - 
          .blockevent-content
            %a{:href => "http://www.emailvision.fr/node/931?e=1670"} Visualisez la vidéo de la...
        .attachment.attachment-after
          .blockpress
            .blockpress-date 14/07/2011 - 
            .blockpress-content.sqdsdq
              %a{:href => "http://www.emailvision.fr/news-events/press-releases/le-1er-esp-au-sommet-du-mont-blanc"} Le 1er ESP au sommet...
          .blockpress
            .blockpress-date 04/07/2011 - 
            .blockpress-content.sqdsdq
              %a{:href => "http://www.emailvision.fr/news-events/press-releases/emailvision-classe-numero-1-en-terme-de-croissance-et-1er-editeur-saas-au"} Emailvision classé numéro 1 en...
          .blockpress
            .blockpress-date 14/06/2011 - 
            .blockpress-content.sqdsdq
              %a{:href => "http://www.emailvision.fr/news-events/press-releases/emailvision-finalise-l-acquisition-de-smartfocus-group-plc-1"} Emailvision finalise l’acquisition de smartFOCUS...
      .events_block_btn
        %a.btn-w{:href => "/actualites/evenements"} → View news & events
      %form#newsletter_form{:action => "http://www.emailvision.fr/contact/inscription-newsletter", :method => "post"}
        %label{:for => "newsletter_mail"} Inscrivez-vous à la Newsletter
        %input#newsletter_mail{:name => "newsletter_mail", :onfocus => "javascript:this.value=''", :type => "text", :value => "Votre Adresse Email"}/
        = succeed "&nbsp;" do
          %input#newsletter_btn{:name => "newsletter_btn", :type => "submit", :value => "ok"}/
  / /NEWS & EVENT

