#footer
  #footer_border
  .container_12
    .grid_3
      .widget
        %h4
          %span About
        %p
          Thousands of marketing professionals worldwide rely on Campaign Commander to execute successful email, mobile and social media campaigns and adopt best practices in relationship marketing. It allows marketers to automate more of their work so they can significantly increase the relevance and profitability of their campaigns.
      / widget
    / grid_3
    .grid_3
      .widget
        %h4
          %span Twitter
        %ul#twitter_update_list
          %li.first
            %a{:href => "#"} @laurakalbag
            I will be very soon. As a result of your previous recommendation on a blog post so it happens :)
            %a{:href => "#"} 31 minutes ago
          %li
            %a{:href => "#"} @laurakalbag
            you got chocolates!? That's it, I'm signing up.
            %a{:href => "#"} 37 minutes ago
          %li.last
            RT
            = succeed ":" do
              %a{:href => "#"} @tullett
            Emails that start with "Dear contact" make me feel so special
            %a{:href => "#"} 50 minutes ago
        %p
          %a{:href => "#"} @ormanclark on Twitter
      / widget
    / grid_3
    .grid_3
      .widget
        %h4
          %span Anti-Spam Policy
        %p
          Emailvision only supports permission-based marketing practices and has a zero spam tolerance policy.
          Emailvision supports the following anti-spam organizations
      / widget
    / grid_3
    .clear
  / container_12
  #footer_bottom
    .container_12
      .grid_6
        %p
          Copyright 2011
          = succeed "." do
            %a{:href => "#"} Oxala Consulting
          All Rights Reserved.
      / grid_6
      .grid_6
        %p.right
          EmailVision Customer Portal Demo
          by
          %a{:href => "http://vzmind.tumblr.com"} Vzmind
      / grid_6
      .clear
    / container_12
  / footer_bottom
/ footer


