#footer
  #footer_border
  .container_12
    .grid_3
      .widget
        %h4
          %span About
        %p
          Thousands of skying professionals worldwide rely on Luniski
      / widget
    / grid_3
    .grid_3
      .widget
        %h4
          %span Twitter
        %ul#twitter_update_list
          %li.first
            %a{:href => "#"} @francost
            I will be very soon. Incerdible Jump from the an old shool apache #luniski
            %a{:href => "#"} 31 minutes ago
          %li
            %a{:href => "#"} @laurabritts
            you got chocolates!? That's it, I'm signing up for a new jump.
            %a{:href => "#"} 37 minutes ago
          %li.last
            RT
            = succeed ":" do
              %a{:href => "#"} @tullett
            Emails that start with "Dear contact" make me feel so special
            %a{:href => "#"} 50 minutes ago
      / widget
    / grid_3
    .grid_3
      .widget
        %h4
          %span Anti-Spam Policy
        %p
          Luniski only supports permission-based marketing practices and has a zero spam tolerance policy.
      / widget
    / grid_3
    .clear
  / container_12
  #footer_bottom
    .container_12
      .grid_6
        %p
          Copyright 2012
          = succeed "." do
            %a{:href => "#"} Tquila Labs
          All Rights Reserved.
      / grid_6
      .grid_6
        %p.right
          Luniski Solution Center demo
          by
          %a{:href => "http://vzmind.tumblr.com"} Tquila Labs
      / grid_6
      .clear
    / container_12
  / footer_bottom
/ footer


