#header
  #top
    %span Welcome on your Luniski Solution Center with Tquila - Heroku - SalesForce
  #bottom
    .container_12
      .grid_5
        #logo
          %a{:href => "/home"}
            = image_tag "/assets/logo.png"
        / logo
      / grid_5
      .grid_7
        #header_advert
          %a{:href => "#"}
            = image_tag '/assets/header_advert.jpg'
        / header_advert
      / grid_7
      = render 'shared/nav'
      .clear
    / container_12
  / bottom
/ header

