- if current_user?
  .grid_12
    #nav
      %ul.sf-menu
        %li.first
          %a{:href => home_index_path} Home
        %li
          %a{:href => cases_path} My questions
        %li
          %a{:href => "#"} Solutions finder
      .clear
    / nav
  / grid_12

