- if current_user?
  .grid_12
    #nav
      %ul.sf-menu
        %li.first
          %a{:href => home_index_path} Home
        %li
          %a{:href => new_case_path} Ask us
        %li
          %a{:href => cases_path} My questions
        %li
          %a{:href => solutions_path} Solutions finder
        %li
          %a{:href => "https://floating-snow-3819.herokuapp.com/", :target => "_blank"} Get the Facebook App
          %img{:src => "/assets/facebook.jpg", :width => "30px", :style => "margin-top:8px;margin-right:5px;"}
      .clear
    / nav
  / grid_12

