- if current_user?
  .grid_12
    #nav
      %ul.sf-menu
        %li.first
          %a{:href => home_index_path} Home
        %li
          %a{:href => cases_path} My questions
        %li
          %a{:href => solutions_path} Solutions finder
        %li
          %a{:href => "https://floating-snow-3819.herokuapp.com/"} Get the Facebook App
      .clear
    / nav
  / grid_12

