- if current_user?
  .grid_12
    #nav
      %ul.sf-menu
        %li.first
          %a{:href => home_index_path} Home
        %li
          %a{:href => cases_path} My cases
        %li
          %a{:href => "#"} My ideas
        %li
          %a{:href => "#"} Resource center
          %ul
            %li.first
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} Video
            %li.last
              %a{:href => "#"} Academy
      .clear
    / nav
  / grid_12

