.widget
  .tabs
    .tab_wrap
      %ul.nav
        %li.first.tab_nav_1
          %a{:href => "#tabs-1"} Chamonix
        %li.tab_nav_2
          %a{:href => "#tabs-2"} Zermatt
        %li.tab_nav_3
          %a{:href => "#tabs-3"} Breckenridge
      #tabs-1.tab
        = #parse_feed("http://www.igluski.com/news/rss/category_438003421")
      #tabs-2.tab
        = #parse_feed("http://www.igluski.com/news/rss/category_438003424")
      #tabs-3.tab
        = #parse_feed("http://www.igluski.com/news/rss/category_438003426")
    / tab_wrap
  / tabs
/ widget

