#slider
  #coda_slider
    .item
      #coda-slider-1.coda-slider.preload
        .panel
          .slider_image
            %a{:href => "#"}
              = image_tag '/assets/image1.jpg'
          / slider_image
          .details
            .cats
              %span featured
            / cats
            .header
              %h2
                %a{:href => "#"} Book you Hummer Trip nex week
            / header
            .date
              August 4 2010,
              %a{:href => "#"} 8 Comments
            / date
            .excerpt
              %p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
            / excerpt
          / details
        / panel
        .panel
          .slider_image
            %a{:href => "#"}
              = image_tag '/assets/image2.jpg'
          / slider_image
          .details
            .cats
              %span featured
            / cats
            .header
              %h2
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
            / header
            .date
              August 4 2010,
              %a{:href => "#"} 8 Comments
            / date
            .excerpt
              %p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
            / excerpt
          / details
        / panel
        .panel
          .slider_image
            %a{:href => "#"}
              %img{:alt => "slider large image", :src => "/assets/image10.jpg"}/
          / slider_image
          .details
            .cats
              %span featured
            / cats
            .header
              %h2
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
            / header
            .date
              August 4 2010,
              %a{:href => "#"} 8 Comments
            / date
            .excerpt
              %p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
            / excerpt
          / details
        / panel
        .panel
          .slider_image
            %a{:href => "#"}
              %img{:alt => "slider large image", :src => "/assets/image4.jpg"}/
          / slider_image
          .details
            .cats
              %span featured
            / cats
            .header
              %h2
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
            / header
            .date
              August 4 2010,
              %a{:href => "#"} 8 Comments
            / date
            .excerpt
              %p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
            / excerpt
          / details
        / panel
        .panel
          .slider_image
            %a{:href => "#"}
              %img{:alt => "slider large image", :src => "/assets/image5.jpg"}/
          / slider_image
          .details
            .cats
              %span featured
            / cats
            .header
              %h2
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
            / header
            .date
              August 4 2010,
              %a{:href => "#"} 8 Comments
            / date
            .excerpt
              %p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
            / excerpt
          / details
        / panel
        .panel
          .slider_image
            %a{:href => "#"}
              %img{:alt => "slider large image", :src => "/assets/image6.jpg"}/
          / slider_image
          .details
            .cats
              %span featured
            / cats
            .header
              %h2
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
            / header
            .date
              August 4 2010,
              %a{:href => "#"} 8 Comments
            / date
            .excerpt
              %p Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro fugit verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
            / excerpt
          / details
        / panel
        .clear
      / coda-slider
      .clear
    / item
    .clear
  / coda_slider
  #slider_nav
    #coda-nav-1.coda-nav
      %ul
        %li.tab1
          %a{:href => "#1"}
            %img{:alt => "thumb", :height => "60", :src => "/assets/image1.jpg", :width => "85"}/
        %li.tab2
          %a{:href => "#2"}
            %img{:alt => "thumb", :height => "60", :src => "/assets/image2.jpg", :width => "85"}/
        %li.tab3
          %a{:href => "#3"}
            %img{:alt => "thumb", :height => "60", :src => "/assets/image10.jpg", :width => "85"}/
        %li.tab4
          %a{:href => "#4"}
            %img{:alt => "thumb", :height => "60", :src => "/assets/image4.jpg", :width => "85"}/
        %li.tab5
          %a{:href => "#5"}
            %img{:alt => "thumb", :height => "60", :src => "/assets/image5.jpg", :width => "85"}/
        %li.tab6
          %a{:href => "#6"}
            %img{:alt => "thumb", :height => "60", :src => "/assets/image6.jpg", :width => "85"}/
    / coda-nav-5
  / slider_nav
  .clear
/ slider

