.grid_8
  = render 'shared/slider'
  %script{:type => "text/javascript", :charset => "utf-8"} 
    jQuery("p.loading").remove();
  .grid_8.alpha.omega
    .post_columns
      %h4
        %span Latest Posts
      .column
        .image
          %a{:href => "#"}
            %img{:alt => "post column pic", :src => "/assets/image1.jpg", :width => "186px"}/
        %h3
          %a{:href => "#"} Book your Hummer trip
        .date
          August 4 2010,
          %a{:href => "#"} 8 Comments
        .excerpt
          %p
            Lorem ipsum ex vix illud nonummy, novum tation et his.
            At vix scripta patrioque scribentur, at pro fugit verterem molestiae,
            sed et vivendo ali...
        / excerpt
      / column
      .column
        .image
          %a{:href => "#"}
            %img{:alt => "post column pic", :src => "/assets/image10.jpg", :width => "186px"}/
        %h3
          %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
        .date
          August 4 2010,
          %a{:href => "#"} 8 Comments
        .excerpt
          %p
            Lorem ipsum ex vix illud nonummy, novum tation et his.
            At vix scripta patrioque scribentur, at pro fugit verterem molestiae,
            sed et vivendo ali...
        / excerpt
      / column
      .column.last
        .image
          %a{:href => "#"}
            %img{:alt => "post column pic", :src => "/assets/image5.jpg", :width => "186px"}/
        %h3
          %a{:href => "#"} Are you ready to jump?
        .date
          August 4 2010,
          %a{:href => "#"} 8 Comments
        .excerpt
          %p
            Lorem ipsum ex vix illud nonummy, novum tation et his.
            At vix scripta patrioque scribentur, at pro fugit verterem molestiae,
            sed et vivendo ali...
        / excerpt
      / column
      .clear
    / post_columns
  / grid_8 alpha omega
  .grid_8.alpha.omega
    .grid_4.alpha
      .category_list
        %h4
          %span
            %a{:href => "#"} My recent questions
        %ul
          %li
            .image
              %a{:href => "#"}
                %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
            / image
            .details
              %h5
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
              %span.date
                August 4 2010,
                %a{:href => "#"} 8 Comments
            / details
          %li.last
            .image
              %a{:href => "#"}
                %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
            / image
            .details
              %h5
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
              %span.date
                August 4 2010,
                %a{:href => "#"} 2 Comments
            / details
      / category_list
    / grid_4
    .grid_4.omega
      .category_list
        %h4
          %span
            %a{:href => "#"} Most viewed solutions
        %ul
          %li
            .image
              %a{:href => "#"}
                %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
            / image
            .details
              %h5
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
              %span.date
                August 4 2010,
                %a{:href => "#"} 5 points
            / details
          %li.last
            .image
              %a{:href => "#"}
                %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
            / image
            .details
              %h5
                %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
              %span.date
                August 4 2010,
                %a{:href => "#"} 2 points
            / details
      / category_list
    / grid_4
  / grid_8 alpha omega
  / grid_8
- content_for :sidebar do
  .grid_4
    = render 'shared/sidebar'
  / grid_4
  .clear


