.grid_8
  .grid_8.alpha.omega
    .full_posts
      %ul
        %li
          <IFRAME title="Content" SRC="http://na14.salesforce.com/sol/public/search.jsp?orgId=00Dd0000000bt0I" WIDTH="515" HEIGHT="360"></IFRAME>
          
          .clear
  .clear
- content_for :sidebar do
  .grid_4
    = render 'shared/sidebar'
  / grid_4
  .clear
